body {
  overflow: hidden;
}

h1 {
  font-size: 2.2vw;
}
h2 {
  font-size: 2vw;
}
h3 {
  font-size: 1.8vw;
}
h4 {
  font-size: 1.4vw;
}
h5 {
  font-size: 1.2vw;
}
p {
  font-size: 1vw;
}

.display-4 {
  font-size: 2.3vw;
}

.display-1 {
  font-size: 4.8vw;
}

.main-container.vanilla-template {
  width: 100vw;
  height: 100vh;
}

/* row top*/
.main-container.vanilla-template .row-top {
  height: 66.6%;
}

.main-container.vanilla-template .row-top .left-container {
  height: 100%;
}

.main-container.vanilla-template .row-top .left-container .video-container {
  height: 100%;
  background-color: currentColor;
}

.main-container.vanilla-template
  .row-top
  .left-container
  .video-container-start {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.main-container.vanilla-template
  .row-top
  .left-container
  .video-container-start:before {
    content: "";
    position: absolute;
    width: 297px;
    height: 23%;
    top: 45%;
    left: -150%;
    z-index: -1;
    background: url(../images/logotipo-clinica-cordillera-recorte.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.main-container.vanilla-template .row-top .left-container .video-container-end {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.main-container.vanilla-template
  .row-top
  .left-container
  .video-container-end:before {
    content: "";
    position: absolute;
    width: 297px;
    height: 23%;
    top: 42%;
    left: -150%;
    z-index: -1;
    background: url(../images/logotipo-clinica-cordillera-recorte.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

/* top right container*/
.main-container.vanilla-template .row-top .right-container {
  height: 100%;
}

.main-container.vanilla-template .row-top .right-container.img-published {
  background-image: url(../images/campaign/anita.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
}

/* row bottom */
.main-container.vanilla-template .row-bottom {
  height: 33.4%;
}

/* bottom left container*/

.main-container.vanilla-template .row-bottom .left-container {
  height: 100%;
}

.main-container.vanilla-template .row-bottom .left-container .card {
  overflow: hidden;
  height: 100%;
}

.main-container.vanilla-template .row-bottom .left-container .card .row {
  height: 100%;
}

/* bottom right container */

.main-container.vanilla-template .row-bottom .right-container {
  height: 100%;
  background-color: white;
  padding: 5% 0 !important;
}
